= simple_form_for @user, url: { action: "update_password" }, class: 'general-form-md divider-lg-bottom pb-25' do |f|
  = f.error_notification
  = f.input :reset_password_token, as: :hidden
  = f.full_error :reset_password_token
  .form-group.mb-30
    %label.control-label.input-label Old Password
    = password_field_tag :current_password, params[:current_password], required: true, autofocus: true, autocomplete: "off", id: 'oldPassword', class: 'form-control', placeholder: "Old Password"
  .form-group.mb-30
    %label.control-label.input-label New Password
    = f.input :password, label: false, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: "New Password", id: "password", class: "form-control"
  .form-group.mb-40
    %label.control-label.input-label Confirm Password
    = f.input :password_confirmation, label: false, required: true, placeholder: "Confirm Password", id: "confirmPassword", class: "form-control"
    .general-text-align
      = f.button :submit, "Save", class: "btn default mb-10"