%main.container.general-main-wrap
  .text-center
    %h3.general-login-title Set new password
  .general-form
    = simple_form_for(current_user, url: password_path(current_user), html: { method: :put }) do |f|
      = f.error_notification
      = f.input :reset_password_token, as: :hidden
      = f.full_error :reset_password_token
      .form-group.mb-30
        %label.control-label.input-label Type a new Password
        = f.input :password, label: false, required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: "Type a new Password", id: "password", class: "form-control"
      .form-group.mb-40
        %label.control-label.input-label Confirm Password
        = f.input :password_confirmation, label: false, required: true, placeholder: "Confirm Password", id: "confirmPassword", class: "form-control"
        = f.button :submit, "Change", class: "btn btn-default center-block mb-20"