%main.container.general-main-wrap
  %h1.mt-0.mb-25 My Orders
  = render 'sorting_orders'
  .hidden-xs.mb-res-50
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600 Number
          %th
            %span.in-grey-600 Completed at
          %th
            %span.in-grey-600 Status
          %th
            %span.in-grey-600 Total
      %tbody
        - @orders.each do |order| 
          %tr
            %td
              = link_to order do
                %span.general-order-number
                  = order.number
            %td
              %span.in-grey-900.font-16.fw-300
                = order.created_at.strftime("%F")
            %td
              - if order.status == "delivered"
                %span.font-16.fw-300.text-success
                  = order.status
              - elsif order.status == "canceled"
                %span.font-16.fw-300.text-danger
                  = order.status
              - else
                %span.font-16.in-grey-900.fw-300
                  = order.status
            %td
              %strong.font-16
                = order.price