- @cart.line_items.each do |item|
  %tr
    %td
      .general-img-wrap-table
        = image_tag(item.book.cover.url || 'no image', class: 'cart-img-shadow pull-left')        
    %td
      %p.title
        = item.book.title
      - if @order
        %P.in-grey-600.fw-300
          = item.book.description
    %td
      %span.font-16.in-gold-500
        = item.book.decorate.price
    - if @order
      %td.text-center
        %span
          = item.quantity
      %td.text-center
        %span.font-16.in-gold-500
          = number_to_currency(item.total_price, unit: '€')
    - else
      %td
        .input-group{id: "#{item.id}", quantity: "#{item.quantity}"}
          .input-link
            %i.fa.fa-minus.line-heaght-40              
          %input.form-control.quantity-input{type: "text", value: "#{item.quantity}"}
          .input-link              
            %i.fa.fa-plus.line-heaght-40
      %td
        %span.font-16.in-gold-500
          = number_to_currency(item.total_price, unit: '€')
      %td
        = button_to item, method: :delete, class: 'close general-cart-close', type: "button", 'aria-label': "Close" do            
          %span{'aria-hidden': "true"} &times;