%main.container.general-main-wrap
  %h1.general-title-margin Cart 
  .hidden-xs
    %table.table.table-hover
      %tr.no-hover
        %th.col-pic.pl-0
          %span.in-grey-600 Product
        %th.col-title
        %th.col-price
          %span.in-grey-600 Price
        %th.col-quantity
          %span.in-grey-600 Quantity
        %th.col-total
          %span.in-grey-600 SubTotal
        %th.col-close
      - @cart.line_items.each do |item|
        %tr
          %td
            .general-img-wrap-table
              = image_tag(item.book.cover.url, class: 'cart-img-shadow pull-left', alt: "design-book")            
          %td
            %p.title
              = item.book.title
          %td
            %span.font-16.in-gold-500
              = item.book.price
          %td
            .input-group{id: "#{item.id}", quantity: "#{item.quantity}"}
              .input-link
                %i.fa.fa-minus.line-heaght-40              
              %input.form-control.quantity-input{type: "text", value: "#{item.quantity}"}
              .input-link              
                %i.fa.fa-plus.line-heaght-40
          %td
            %span.font-16.in-gold-500
              = item.total_price
          %td
            = button_to item, method: :delete, class: 'close general-cart-close', type: "button", 'aria-label': "Close" do            
              %span{'aria-hidden': "true"} &times;      
  .general-order-wrap
    .row
      .col-sm-4
        .input-group.general-input-group
          %label.input-label Enter Your Coupon Code
          %input.form-control.mb-30{type: "text", placeholder: "Enter Your Coupon Code "}
          %div            
            %button.btn.btn-primary.mr-5.mb-15.visible-xs-inline-block 
            = button_to 'Update cart', cart_path, method: :put, class: 'btn btn-primary mb-15 res-block' 
      .col-sm-8
        .res-mr-200.text-center.general-text-right
          %p.in-gold-500.font-18 Order Summary
          %table.general-summary-table.general-summary-table-right.general-text-right
            %tr
              %td
                %p.font-16 Subtotal:
              %td
                %p.font-16 
                  = @cart.total_price
            %tr
              %td
                %p.font-16 Coupon:
              %td
                %p.font-16 €0.00
            %tr
              %td
                %strong.font-18 Order Total:
              %td
                %strong.font-18
                  = @cart.total_price
          = link_to 'Checkout', new_order_path, class: 'btn btn-default mb-20 visible-xs-inline-block'          
  = link_to 'Checkout', new_order_path, class: 'btn btn-default mb-20 hidden-xs center-block'