%main.container.general-main-wrap
  %h1.general-title-margin Cart 
  .hidden-xs
    %table.table.table-hover
      %tr.no-hover
        %th.col-pic.pl-0
          %span.in-grey-600 Product
        %th.col-title
        %th.col-price
          %span.in-grey-600 Price
        %th.col-quantity
          %span.in-grey-600 Quantity
        %th.col-total
          %span.in-grey-600 SubTotal
        %th.col-close
      - @cart.line_items.each do |item|
        %tr
          %td
            .general-img-wrap-table
              = image_tag(item.book.cover.url || 'no image', class: 'cart-img-shadow pull-left')        
          %td
            %p.title
              = item.book.title
          %td
            %span.font-16.in-gold-500
              = item.book.decorate.price
          %td
            .input-group{id: "#{item.id}", quantity: "#{item.quantity}"}
              .input-link
                %i.fa.fa-minus.line-heaght-40              
              %input.form-control.quantity-input{type: "text", value: "#{item.quantity}"}
              .input-link              
                %i.fa.fa-plus.line-heaght-40
          %td
            %span.font-16.in-gold-500
              = number_to_currency(item.total_price, unit: '€')
          %td
            = button_to item, method: :delete, class: 'close general-cart-close', type: "button", 'aria-label': "Close" do            
              %span{'aria-hidden': "true"} &times;      
  - if @cart.line_items.any?
    .general-order-wrap
      .row
        = render 'coupon'
        = render 'order_summary'
      = button_to 'Checkout', checkout_path(id: :address), method: :get, class: 'btn btn-default mb-20 hidden-xs center-block'