%main.container
  %h1.general-title-margin Сatalog
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
          Sorting
          %i.fa.fa-angle-down.dropdown-icon.pull-right
        %ul.dropdown-menu
          %li
            = link_to 'Newest first', catalog_index_path(sorting: 'newest')
          %li
            = link_to 'Popular first', catalog_index_path(sorting: 'popular') 
          %li
            = link_to 'Price: Low to hight', catalog_index_path(sorting: 'cheaper')
          %li
            = link_to 'Price: Hight to low', catalog_index_path(sorting: 'expensive')
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        = link_to catalog_index_path, class: 'a filter-link' do
          All
          %span.badge.general-badge
            = Book.all.count
      - @categories.each do |category|
        %li.mr-35
          = link_to catalog_index_path(category_id: category.id), class: 'filter-link' do
            = category.name
            %span.badge.general-badge 
              = category.books.count   
  .mb-120
    .row
      - @books.decorate.each do |book|
        .col-xs-6.col-sm-3
          .general-thumb-wrap
            .thumbnail.general-thumbnail
              = image_tag(book.cover, class: 'img-shadow general-thumbnail-img', alt: 'design-book')              
              .thumb-hover
                .general-thumb-link-wrap
                  = link_to book_path(book), class: 'thumb-hover-link' do
                    %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                  %a.thumb-hover-link{href: "#"}
                    %i.fa.fa-shopping-cart.thumb-icon
          .general-thumb-info
            %p.title
              = book.title
            %p.font-16.in-gold-500 
              = book.price
            %span.divider-sm
            %p.lead.small
              = book.authors
    .text-center
      %button.btn.btn-primary View More