.col-md-5.mb-40
  .visible-xs.visible-sm
    %h3.general-subtitle Billing Address
    %p.general-info-text all fields are required
  = field.simple_fields_for :billing, @billing_address do |billing_field|
    .form-group
      = billing_field.label :firstname, 'First Name', class: 'control-label input-label'
      = billing_field.input :firstname, label: false, placeholder: 'First Name', id: 'firstName', class: 'form-control'  
    .form-group
      = billing_field.label :lastname, 'Last Name', class: 'control-label input-label'
      = billing_field.input :lastname, label: false, placeholder: 'Last Name', id: 'lastName', class: 'form-control'      
    .form-group
      = billing_field.label :address, 'Address', class: 'control-label input-label'
      = billing_field.input :address, label: false, placeholder: 'Address', id: 'address', class: 'form-control'
    .form-group
      = billing_field.label :city, 'City', class: 'control-label input-label'
      = billing_field.input :city, label: false, placeholder: 'City', id: 'city', class: 'form-control'
    .form-group
      = billing_field.label :zip, 'Zip', class: 'control-label input-label'
      = billing_field.input :zip, label: false, placeholder: 'Zip', id: 'zip', class: 'form-control'
    .form-group
      = billing_field.label :country, 'Country', class: 'control-label input-label'
      = billing_field.input :country, as: :select, label: false, include_blank: 'Select a country', collection: @countries, id: 'country', class: 'form-control'      
    .form-group
      = billing_field.label :phone, 'Phone', class: 'control-label input-label'
      = billing_field.input :phone, label: false, placeholder: "Example +355 66 123 4567", id: 'phone', type: "tel", class: 'form-control'     