%p.general-address
  = order.customer_name_by_address_type('shipping')
  = link_to "edit", wizard_path(:address), class: 'general-edit'
  %br
  = order.address_by_type('shipping')
  %br
  = order.city_by_address_type('shipping')
  %br
  = order.country_by_address_type('shipping')
  %br
  = order.phone_by_address_type('shipping')