%main.container
  = render 'steps'  
  %form.res-mb-100
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle Billing Address
          %p.general-info-text all fields are required
        .col-md-5.col-md-offset-1
          %h3.general-subtitle Shipping Address
    .row
      = render 'billing_address'
      = render 'shipping_address'
    .general-text-align.mb-60
      = render 'order_summary'      
      = button_to 'Save and Continue', checkout_path(id: :delivery), method: :get,  class: 'btn btn-default center-block mb-20 button_submit'    
