%main.container
  = render 'steps'
  = simple_form_for @order, url: checkout_path, method: :put, class: 'res-mb-100' do |field|
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle Billing Address
          %p.general-info-text all fields are required
        .col-md-5.col-md-offset-1
          %h3.general-subtitle Shipping Address
    .row
      = render 'billing_address', field: field
      = render 'shipping_address', field: field
    .general-text-align.mb-60
      = render 'order_summary'    
      = field.submit "Save and Continue", class: "btn btn-default center-block mb-20"