%main.container.general-main-wrap
  = render 'steps'
  = render 'order_info'
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600 Book
          %th.col-method
          %th
            %span.in-grey-600 Price
          %th.text-center
            %span.in-grey-600 Quantity
          %th
            %span.in-grey-600 Total
      %tbody
        = render 'carts/line_items_list'
  .text-center.general-text-right
    %p.in-gold-500.font-18 Order Summary
    %table.general-summary-table.general-summary-table-right.general-text-right
      = render 'carts/order_summary'
  .text-center
    = button_to 'Place Order', checkout_path(id: :complete), method: :get,  class: 'btn btn-default center-block mb-20'