= simple_form_for(@review) do |f|
  = f.error_notification

  .form-inputs
    = f.association :book
    = f.association :user
    = f.input :status
    = f.input :state

  .form-actions
    = f.button :submit
