%p#notice= notice

%p
  %b Book:
  = @line_item.book
%p
  %b Cart:
  = @line_item.cart
%p
  %b Quantity:
  = @line_item.quantity
%p
  %b Sub total:
  = @line_item.sub_total

= link_to 'Edit', edit_line_item_path(@line_item)
\|
= link_to 'Back', line_items_path
