!!!
%html
  %head
    %title Bookstore
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %p.notice
      = notice 
    %p.alert
      = alert
    %br
    = yield  

/ Header
/ Contains:
/ Name of the Shop,
/ Menu:
/ Home, Shop, My Account (Log in, Sign up), Cart with the counter of items quantity.

/ Footer
/ Contains:
/ Menu:
/ Home, Shop, (Orders, Settings – for logged in user).
/ Contact information: email, phone.
/ Social links: Facebook, Twitter, Google+, Instagram.